<!DOCTYPE html >
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Moja strona</title>
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link href='https://www.mapbox.com/base/latest/base.css?v1.0' rel='stylesheet' />

    </head>
    <body>
        <div id="app">
            <h1 id="title">{{ title }}</h1>

            <select v-model="selected_year">
                <option v-for="year in years" v-bind:value="year">
                {{ year }}
                </option>
            </select>
            <select v-model="selected_country">
                <option disabled value="">Proszę wybrać kraj</option>
                <option v-for="(item, key, index) in countryMapping" v-bind:value="key">
                {{ item.nazwa }}
                </option>
            </select>
            <div class='rounded-toggle inline'>
                <input type='radio' id='emigracja' name='rtoggle' value='origin' v-model='picked'>
                <label for='emigracja'>Emigracja</label>
                <input type='radio' id='imigracja' name='rtoggle' value='asylum' v-model='picked'>
                <label for='imigracja'>Imigracja</label>
            </div>

            <div id="map"></div>
            <div id="chart-div" style="width: 400px; height: 300px;"></div>
            <div>
                <table style="width:100%; display: block; height: 50px; overflow-y: scroll;">
                    <tr>
                        <th>Country</th>
                        <th>Value</th>
                    </tr>
                    <tr v-for="d in filteredData">
                        <td>{{ countryMapping[d[opositeToPicked()]].nazwa }}</td>
                        <td>{{ d.value }}</td>
                    </tr>
                </table>
            </div>

        </div>
        <script src="europe.js"></script>
        <script src="country_mapping.js"></script>
        <script src="data.js"></script>
        <script src="script.js"></script>
        <script src="vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>
